body {
  font-family: "Roboto", sans-serif;
  background-color: #250b41bc;
  height: 100vh;
}

h1 {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  line-height: 1;
  font-weight: 300;
  font-size: 22px;
}

h3 {
  font-weight: 300;
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size: 17px;
}

p {
  margin: -25px 20px;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
}

img {
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.current_city:first-letter {
  text-transform: uppercase;
}

.current_condition:first-letter {
  text-transform: uppercase;
}

.container {
  max-width: 600px;
  padding: 0;
}

.box {
  display: block;
  max-width: 600px;
  margin: 40px auto;
  border: 2px solid rgb(45, 23, 56);
  border-radius: 5px;
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.7);
  background: radial-gradient(
    rgba(255, 255, 255, 0.863) 0%,
    rgba(221, 216, 231, 0.753) 70%,
    rgba(176, 162, 197, 0.908) 90%
  );
  padding-bottom: 15px;
}

.search {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.search_bar {
  width: 300px;
  border: 1px solid rgb(21, 18, 18);
  border-radius: 50px;
  padding: 5px 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffffd4;
}

.search_btn {
  background-color: #39133ef0;
}

.search_btn:hover {
  background-color: #39133eca;
}

.btn-secondary {
  background-color: #2a1049e9;
}

.btn-secondary:hover {
  background-color: #2a1049c7;
}

.search_btn,
.btn-secondary {
  margin-left: 10px;
  padding: 4px 15px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.current_location {
  padding: 10px 30px;
}

.city_condition {
  padding-top: 10px;
}

.temperature_and_icon {
  padding: 10px 10px 5px 20px;
}

p,
.location_border,
.temp_icon,
.indicators_border {
  width: auto;
  height: auto;
  border: 2px dotted #643b7f;
  background-color: #8d759c63;
}

.current_temperature_icon {
  position: relative;
  top: -22px;
  left: -5px;
}

.location_border {
  padding: 15px 20px;
  border-radius: 30px;
}

.temp_icon {
  padding: 0 0 0 20px;
  border-radius: 30px;
  max-height: 103px;
}

.indicators_border {
  padding: 5px 20px;
  border-radius: 25px;
}

.current_temperature {
  font-size: 65px;
  font-weight: 400;
}

.current_units {
  position: relative;
  top: -33px;
  left: 3px;
  font-size: 16px;
}

.current_indicators {
  margin-top: 10px;
}

.unit_celcius,
.unit_fahrenheit {
  text-decoration: none;
  color: #4182c7;
}

a:hover {
  color: #0b4485;
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  ul {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .box {
    width: 95%;
    height: auto;
  }

  .city_condition {
    width: 100%;
    text-align: center;
  }

  .location_border {
    padding: 15px;
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .current_temperature_icon {
    padding-top: 13px;
    padding-left: 15px;
  }

  .search {
    margin-bottom: 0;
  }

  .search_bar {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .buttons {
    display: block;
    margin: 10px auto;
  }

  .temperature_and_icon {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0 0 0;
  }

  .current_temperature {
    font-size: 70px;
  }

  .temp_icon {
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  .current_units {
    position: relative;
    top: -34px;
    left: 5px;
    font-size: 19px;
  }

  .current_indicators {
    display: block;
    margin: 0 auto;
  }

  .indicators_border {
    margin: 10px 25px;
    border-radius: 20px;
  }
}
